    <form action="/new-message" method="POST">
      <div class="form-container light-transparent">
        <div class="form-inputs">
          <%- include("../base/input.ejs",{class: "autofocus-on-dialog-close", type: "text", name: "title", label: "Title", maxlength: process.env.TITLE_MAX_LENGTH, minlength: process.env.TITLE_MIN_LENGTH, required: true,  pattern: process.env.TITLE_REGEX, title: process.env.TITLE_REGEX_MSG, autofocus: true, autocomplete: "off"}) _%>
          <%- include("../base/textarea.ejs",{name: "text", label: "Text", maxlength: process.env.TEXT_MAX_LENGTH, minlength: process.env.TEXT_MIN_LENGTH, required: true,  pattern: process.env.TEXT_REGEX, title: process.env.TEXT_REGEX_MSG, autocomplete: "off"}) _%>
        </div>

        <fieldset>
          <legend>Who can read this?</legend>
          <%_ const isNotMember = !locals.currentUser.is_member;
              const accessData = locals.flashMessages?.data?.access ?? locals.data?.access;          
              const allCaseChecked = accessData === "all" || !(accessData === "users_only" || accessData === "members_only");
          _%>
          <div class="multi-radio">
            <%- include("../base/radio.ejs", {name: "access", id: "all", value: "all", checked: allCaseChecked, label: "All" }) _%>
            <%- include("../base/radio.ejs", {name: "access", id: "users_only", value: "users_only", checked: accessData === "users_only", label: "Registered users only" }) _%>
            <%- include("../base/radio.ejs", {name: "access", id: "members_only", value: "members_only", checked: accessData === "members_only", label: ("Members only") + (isNotMember ? "*" : ""), disabled: isNotMember }) _%>
          </div>
          <%- include("../base/inputValidationErrors.ejs",{name: "access"}) _%>
          <%_ if(isNotMember) { _%> <p class="secondary-text secondary-text-italic note">* Posting members-only messages requires membership. <%- include("../elements/textLink.ejs", {href: "/join-the-club", text: "Join the club"})%></p> <%_ } _%>
        </fieldset>

        <%- include("../base/submitButton.ejs", {label: "POST"}) _%>
      </div>
    </form>