   <form action="/signup" method="POST">
     <div class="form-container light-transparent">

       <div class="form-inputs">
         <div class="form-inputs-row">
           <%- include("../base/input.ejs",{class: "autofocus-on-dialog-close", type: "text", name: "username", label: "Username", maxlength: process.env.USERNAME_MAX_LENGTH, minlength: process.env.USERNAME_MIN_LENGTH, required: true,  pattern: process.env.USERNAME_REGEX, title: process.env.USERNAME_REGEX_MSG, autofocus: true, autocomplete: "username"}) _%>
         </div>

         <div class="form-inputs-row">
           <%- include("../base/input.ejs",{type: "text", name: "name", label: "Name", maxlength: process.env.NAME_SURNAME_MAX_LENGTH, minlength: process.env.NAME_SURNAME_MIN_LENGTH, required: true,  pattern: process.env.NAME_SURNAME_REGEX, title: process.env.NAME_SURNAME_REGEX_MSG, autocomplete: "given-name"}) _%>
           <%- include("../base/input.ejs",{type: "text", name: "surname", label: "Surname", maxlength: process.env.NAME_SURNAME_MAX_LENGTH,  minlength: process.env.NAME_SURNAME_MIN_LENGTH, required: true,  pattern: process.env.NAME_SURNAME_REGEX, title: process.env.NAME_SURNAME_REGEX_MSG, autocomplete: "family-name"}) _%>
         </div>

         <div class="form-inputs-row">
           <%- include("../base/input.ejs",{type: "password", name: "password", label: "Password", maxlength: process.env.PASSWORD_MAX_LENGTH, minlength: process.env.PASSWORD_MIN_LENGTH, required: true,  pattern: process.env.PASSWORD_REGEX, title: process.env.PASSWORD_REGEX_MSG, autocomplete: "new-password"}) _%>
           <%- include("../base/input.ejs",{type: "password", name: "confirm_password", label: "Confirm Password", maxlength: process.env.PASSWORD_MAX_LENGTH,required: true, autocomplete: "new-password"}) _%>
         </div>
       </div>

       <%- include("../base/submitButton.ejs", {fallbackUrl: "/pizzas", label: "REGISTER"}) _%>

       <script>
         (() => {
           const pwInput = document.querySelector('input[name = "password"]');
           const pwConfirmInput = document.querySelector('input[name = "confirm_password"]');

           function checkPasswordMatch(e) {
             if (pwInput.value !== pwConfirmInput.value) {
               pwConfirmInput.setCustomValidity("Passwords do not match.");
             } else {
               pwConfirmInput.setCustomValidity("");
             }
           }

           pwInput.addEventListener('input', checkPasswordMatch);
           pwConfirmInput.addEventListener('input', checkPasswordMatch);
         })();
       </script>
     </div>
   </form>