 <%_ 
  const greeting = locals.flashMessages?.signupUser
    ? "Welcome"
    : locals.flashMessages?.loginUser
    ? "Welcome back"
    : locals.isGuest
    ? "Hello"
    : "Hey there";
 _%>

 <div class="greetings animate animate-children fade-in">
   <hr>
   <%_ if(locals.isGuest) { _%>

   <p><%= greeting%>, <span class="text-gradient user-name guest">guest</span>!</p>
   <p>You're welcome to explore <i>public, anonymous messages</i> shared by our users.</p>
   <p>To post your own messages, just <%- include("./elements/textLink.ejs", {href: "/login", text: "log in"})%>. You'll also gain access to messages visible only to registered users.</p>
   <p>By <i>joining our club</i>, you'll also discover who wrote each message and unlock members-only content.</p>

   <%_ } else if (locals.currentUser?.is_member) { _%>

   <p><%= greeting%>, <span class="text-gradient user-name"><%= currentUser.name%></span>!</p>
   <p>Explore <i>any message</i> shared by our users, or write your own.</p>

   <%_ } else { _%>

   <p><%= greeting%>, <span class="text-gradient user-name"><%= currentUser.name%></span>!</p>
   <p>Explore <i>public and users-only, anonymous messages</i> shared by our users, or write your own.</p>
   <p>Curious about who wrote each message? <%- include("./elements/textLink.ejs", {href: "/join-the-club", text: "Join our club"})%> to reveal authors and access members-only content.</p>

   <%_ } _%>
 </div>