<header class="top-header">
  <h1 class="text-gradient fixed-gradient"> <%= pageTitle %></h1>
  <nav>
    <%_ if(locals.currentUser) { _%>

    <%- include("./elements/linkAsSimpleButton.ejs", {href: "/new-message", text: "POST"})%>
    <%_ if(!locals.currentUser.is_member) { _%>
    <%- include("./elements/linkAsHighlightButton.ejs", {href: "/join-the-club", text: "JOIN"})%>
    <%_ } _%>

    <a href="/my-profile"><%- include("./elements/userIcon.ejs",{user: locals.currentUser})%></a>

    <%_ } else { // guest _%>

    <%- include("./elements/linkAsSimpleButton.ejs", {href: "/login", text: "LOGIN"})%>
    <%- include("./elements/linkAsHighlightButton.ejs", {href: "/signup", text: "SIGN UP"})%>

    <%- include("./elements/userIcon.ejs",{user: locals.currentUser})%>

    <%_ } _%>
  </nav>
</header>