<%_ 
  const isUserNewMessage = id === locals.flashMessages?.userNewMessageId;
  const isUserMessage = locals.author?.id === locals.currentUser?.id;

  const cssClass = members_only
    ? "messages__item_members_only block-border-gradient"
    : users_only
    ? "messages__item_users_only block-border-gradient fill-gradient"
    : "messages__item_public";

  const userNewMessageCssClass = isUserNewMessage ? "user-new-message" : "";
  const userMessageCssClass = isUserMessage ? "user-message" : "";
_%>

<div class="messages__item <%= userMessageCssClass %> <%= userNewMessageCssClass %>">
  <%_ if(locals.currentUser?.is_member || locals.my_data){ _%>
  <header>
    <%_ if(!(locals.hideUsername ?? false)) {_%> <a href="/user/<%= author.id _%>"><span><%- include("./elements/userIcon.ejs",{user: author})%><span class="messages__item_author"><%= author.username _%></span></span></a><%_ } _%>

    <div class="header-right-side">
      <%- include("./elements/date.ejs",{date: creation_date}) _%>

      <%_ if(locals.currentUser?.is_admin || locals.my_data){ _%>
      <%- include("./deleteMessageButtonAndDialog.ejs") _%>
      <%_ } _%>
    </div>
  </header>
  <%_ } _%>


  <div class="messages__item_block <%= cssClass %>">
    <div class="messages__item_content light-transparent">

      <%_ if(members_only){ _%>
      <span class="icon icon-membership" title="Members-only message"></span>
      <%_ } else if(users_only){ _%>
      <span class="icon icon-user-check" title="Users-only message"></span>
      <%_ } _%>



      <%_ if(members_only && !locals.currentUser?.is_member){ _%>

      <%_ if(locals.currentUser){ _%>
      <p class="secondary-text secondary-text-italic">This is a members-only message. <%- include("./elements/textLink.ejs", {href: "/join-the-club", text: "Join the club"})%> to read it.</p>
      <%_ } else { _%>
      <p class="secondary-text secondary-text-italic">This is a members-only message. <%- include("./elements/textLink.ejs", {href: "/login", text: "Log in"})%> and join the club to read it.</p>
      <%_ } _%>

      <%_ } else if(users_only && !locals.currentUser){ _%>

      <p class="secondary-text secondary-text-italic">This is an users-only message. <%- include("./elements/textLink.ejs", {href: "/login", text: "Log in"})%> to read it.</p>

      <%_ } else { _%>

      <main>
        <h3><%= title _%></h3>
        <p><%= text _%></p>
      </main>

      <%_ } _%>
    </div>
  </div>
</div>