<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Error <%= code %> </title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main class="error">
    <h2><%= code %></h2>
    <%_ if (locals.message ) { _%><p><%= locals.message %></p><%_ } _%>
    <%_ if (locals.partial ) { _%><%- include(process.cwd() + locals.partial) %><%_ } _%>
  </main>
</body>

</html>