<!DOCTYPE html>
<html lang="en">

<%_ const showIndex = locals.isGuest || locals.currentUser; _%>
<%_ const bodyClass = showIndex ? "index" : "entry-index"; _%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Welcome</title>
  <%_ if (showIndex) { _%>
  <%- include("partials/elements/dateScript") _%>
  <%_ } _%>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body data-now="<%= (new Date()).toISOString() %>" class="<%= bodyClass _%>">
  <%_ if(showIndex) { _%>

  <%- include("./partials/header.ejs"); _%>

  <main>
    <div class="main-container">
      <%- include("./partials/greetings.ejs") _%>
      <%- include("./partials/messageList.ejs") _%>
    </div>
  </main>

  <%_ } else { _%>

  <header>
    <h1> <%= pageTitle %></h1>
  </header>
  <main>
    <div class="main-container">
      <div>
        <a href="/login" class="base-button">LOGIN</a>
        <a href="/signup" class="highlight-button">SIGN UP</a>
      </div>

      <a href="/continue-as-guest">Continue as a guest</a>
    </div>
  </main>
  <%_ } _%>
</body>

</html>