<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Welcome</title>
  <%_ if(locals.isGuest || locals.currentUser) { _%>
  <%- include("partials/elements/dateScript") _%>
  <%_ } _%>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body data-now="<%= (new Date()).toISOString() %>">
  <%_ if(locals.isGuest || locals.currentUser) { _%>

  <%- include("./partials/header.ejs"); _%>

  <%_ const role =  locals.currentUser ? locals.currentUser.is_member ? "a member": locals.currentUser.is_admin ? "an admin" : "a user" : "a guest"; _%>
  <p>You are <%= role%></p>

  <%- include("./partials/messageList.ejs") _%>

  <%_ } else { _%>

  <h1> <%= pageTitle %></h1>
  <div>
    <a href="/login">LOGIN</a>
    <a href="/signup">SIGN UP</a>
  </div>

  <a href="/continue-as-guest">Continue as a guest</a>

  <%_ } _%>
</body>

</html>