<!DOCTYPE html>
<html lang="en">

<%_ const showIndex = locals.isGuest || locals.currentUser; _%>
<%_ const bodyClass = showIndex ? "index" : "entry-index"; _%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Welcome</title>
  <%_ if (showIndex) { _%>
  <%- include("partials/elements/dateScript") _%>
  <%_ } _%>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body data-now="<%= (new Date()).toISOString() %>" class="<%= bodyClass _%>">
  <%_ if(showIndex) { _%>

  <%- include("./partials/header.ejs"); _%>

  <main>
    <div class="main-container">
      <%- include("./partials/greetings.ejs") _%>
      <%- include("./partials/messageList.ejs") _%>
    </div>
  </main>

  <%_ } else { _%>
  <header>
    <span class="icon icon-logo"></span>
    <h1 class="text-gradient"> <%= pageTitle %></h1>
  </header>
  <main>
    <div class="main-container">
      <div class="actions">
        <%- include("./partials/elements/linkAsSimpleButton.ejs", {href: "/login", text: "LOGIN"})%>
        <%- include("./partials/elements/linkAsHighlightButton.ejs", {href: "/signup", text: "SIGN UP"})%>
      </div>

      <%- include("./partials/elements/textLink.ejs", {href: "/continue-as-guest", text: "Continue as a guest"})%>
    </div>
  </main>
  <%_ } _%>

  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>