<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Join the club</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main>
    <h1> <%= pageTitle %></h1>
    <h2>Join the club</h2>

    <%_ if(locals.currentUser?.is_member) { _%>

    <p>Congratulations, <%= locals.currentUser.name _%>! You are already a member of our club!</p>

    <p>As a member you can:
      <%- include("partials/memberFeatures.ejs") _%>
    </p>

    <%_ } else { _%>

    <div>
      <p>Join our club to unlock new features:
        <%- include("partials/memberFeatures.ejs") _%>
      </p>
    </div>

    <p>So, <strong><%= locals.currentUser.name%> <%= locals.currentUser.surname%></strong>, will you join our club? You are allowed in only if you bring a special animal, plant, vegetable, gem, natural entity, or fantasy creature.</p>

    <%- include("./partials/form/joinTheClubForm.ejs") _%>

    <%- include("./partials/joinTheClubHints.ejs",{useLink:true}) _%>

    <%- include("./partials/messageDialog.ejs") _%>

    <%_ } _%>
  </main>

</body>

</html>