<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Join the club</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="join-the-club">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container animate-children fade-in">
      <%- include("partials/h2Heading.ejs", {text: "Join the club"}) _%>

      <div>
        <div class="join-the-club-info block-border-gradient">
          <div class="join-the-club-features">
            <p>Join our club to unlock new features: </p>
            <%- include("partials/memberFeatures.ejs") _%>
          </div>

          <p class="join-the-club-riddle">So, <strong class="user-name text-gradient"><%= locals.currentUser.name%> <%= locals.currentUser.surname%></strong>, will you join our club?</p>

          <p class="text-gradient join-the-club-riddle">You are allowed in only if you bring <i>a special animal, plant, vegetable, gem, natural entity, or fantasy creature</i>.</p>
        </div>
      </div>

      <div class="main-container-form">
        <%- include("./partials/form/joinTheClubForm.ejs") _%>
      </div>

      <div class="join-the-club-hints">
        <%- include("./partials/joinTheClubHints.ejs",{useLink:true, preP: "Need some help?",label: "Here are some hints."}) _%>
      </div>

    </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>