<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="login">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container">
      <%- include("partials/h2Heading.ejs", {text: "User Login"}) _%>

      <%_ if(locals.currentUser) { _%>

      <div class="main-container-text">
        <p>You are already logged in as <%= currentUser.username _%>. <%- include("./partials/logoutButtonAndDialog.ejs",{useLink:true}) _%> to use a different account.</p>
      </div>

      <%_ } else { _%>

      <div class="main-container-form small-form">
        <%- include("./partials/form/loginForm.ejs") _%>
      </div>

      <p>Don't have an account? <%- include("./partials/elements/textLink.ejs", {href: "/signup", text: "Register here"})%></p>

      <%_ } _%>
    </div>
  </main>

</body>

</html>