<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main>
    <h1> <%= pageTitle %></h1>
    <h2>User Login</h2>

    <%_ if(locals.currentUser) { _%>

    <p>You are already logged in as <%= currentUser.username _%>. <%- include("./partials/logoutButtonAndDialog.ejs",{useLink:true}) _%> to use a different account.</p>

    <%_ } else { _%>

    <%- include("./partials/form/loginForm.ejs") _%>
    <p>Don't have an account? <a href="/signup">Register here</a></p>

    <%_ } _%>
  </main>

</body>

</html>