<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="login">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container animate-children fade-in">
      <%- include("partials/h2Heading.ejs", {text: "User Login"}) _%>

      <div class="main-container-form small-form">
        <%- include("./partials/form/loginForm.ejs") _%>
      </div>

      <p class="secondary-text">Don't have an account? <%- include("./partials/elements/textLink.ejs", {href: "/signup", text: "Register here"})%></p>
    </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>