<!DOCTYPE html>
<html lang="en">

<%_ const wsRefreshClass = locals.wsRefresh ? "ws-refresh" : "" _%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | My Messages</title>
  <%- include("partials/elements/dateScript") _%>
  <script type="module" src="/js/clientWss.js" defer></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="my-messages  <%=wsRefreshClass%>" data-now="<%= (new Date()).toISOString() %>">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container animate-children fade-in">

      <header>
        <%- include("./partials/userInfo.ejs", {user: currentUser, horizontal: true}) _%>
      </header>

      <div class="messages">
        <%- include("partials/h2Heading.ejs", {text: "My messages"}) _%>
        <%- include("./partials/messageList.ejs", {messagesArray: currentUser.messages, hideUsername: true, my_data: true}) _%>
      </div>
    </div>
    </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>