<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | My Messages</title>
  <%- include("partials/elements/dateScript") _%>
</head>

<body>
  <main>
    <h1> <%= pageTitle %></h1>

    <header>
      <%- include("./partials/userInfo.ejs") _%>
    </header>

    <div></div>
    <h3>My messages</h3>
    <%- include("./partials/messageList.ejs", {messagesArray: user.messages, hideUsername: true}) _%>
    </div>

  </main>

</body>

</html>