<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | My Messages</title>
  <%- include("partials/elements/dateScript") _%>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="my-messages">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container">

      <header>
        <%- include("./partials/userInfo.ejs", {horizontal: true}) _%>
      </header>

      <div class="messages">
        <h2>My messages</h2>
        <%- include("./partials/messageList.ejs", {messagesArray: user.messages, hideUsername: true, my_data: true}) _%>
      </div>
    </div>
    </div>
  </main>

</body>

</html>