<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | My Profile</title>
  <%- include("partials/elements/dateScript") _%>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="my-profile" data-now="<%= (new Date()).toISOString() %>">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container animate-children fade-in">

      <header>
        <%- include("./partials/userInfo.ejs", {user: currentUser}) _%>
      </header>

      <div class="my-profile-side  animate-children fade-in">
        <%- include("./partials/userDetails.ejs", {user: currentUser}) _%>

        <div class="actions-container animate-children fade-in">
          <div class="actions">
            <%- include("./partials/elements/linkAsHighlightButton.ejs", {href: "/my-messages", text: "My messages"})%>
            <%- include("./partials/elements/linkAsHighlightButton.ejs", {href: "/new-message", text: "Post a new message"})%>
          </div>

          <div class="actions">
            <%_ if(!locals.currentUser.is_member) { _%>

            <%- include("./partials/elements/linkAsHighlightButton.ejs", {href: "/join-the-club", text: "Join the club"})%>

            <%_ } else if(!locals.currentUser.is_admin ) { _%>

            <%- include("./partials/elements/linkAsHighlightButton.ejs", {href: "/become-admin", text: "Become admin"})%>

            <%_ } _%>
          </div>

          <div class="actions">
            <%- include("./partials/logoutButtonAndDialog.ejs",{customClass: "button block-border-gradient"}) _%>
          </div>
        </div>
      </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>