<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | New Message</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="new-message">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container animate-children fade-in">
      <%- include("partials/h2Heading.ejs", {text: "New Message"}) _%>

      <div class="main-container-form">
        <%- include("./partials/form/newMessageForm.ejs") _%>
      </div>
    </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>