<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="signup ">
  <%- include("./partials/headerBackToIndex.ejs"); _%>

  <main>
    <div class="main-container  animate-children fade-in">
      <%- include("partials/h2Heading.ejs", {text: "Create your account"}) _%>

      <div class="main-container-form small-form">
        <%- include("./partials/form/signupForm.ejs") _%>
      </div>

      <p class="secondary-text">Already have an account? <%- include("./partials/elements/textLink.ejs", {href: "/login", text: "Login"})%></p>
    </div>
  </main>

  <%- include("./partials/creditFooter.ejs"); _%>
  <%- include("./partials/flashDialog.ejs"); _%>
</body>

</html>