<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | Sign Up</title>
</head>

<body>
  <main>
    <h1> <%= pageTitle %></h1>
    <p>Create your account</p>

    <%_ if(locals.currentUser) { _%>

    <p>You already have an account as <%= currentUser.username _%>. <%- include("./partials/logoutButtonAndDialog.ejs",{useLink:true}) _%> to create a new account.</p>

    <%_ } else { _%>

    <form action="/signup" method="POST">
      <div>
        <%- include("./partials/base/input.ejs",{type: "text", name: "username", label: "Username", maxlength: process.env.USERNAME_MAX_LENGTH, minlength: process.env.USERNAME_MIN_LENGTH, required: true,  pattern: process.env.USERNAME_REGEX, title: process.env.USERNAME_REGEX_MSG}) _%>
        <%- include("./partials/base/input.ejs",{type: "text", name: "name", label: "Name", maxlength: process.env.NAME_SURNAME_MAX_LENGTH, minlength: process.env.NAME_SURNAME_MIN_LENGTH, required: true,  pattern: process.env.NAME_SURNAME_REGEX, title: process.env.NAME_SURNAME_REGEX_MSG}) _%>
        <%- include("./partials/base/input.ejs",{type: "text", name: "surname", label: "Surname", maxlength: process.env.NAME_SURNAME_MAX_LENGTH,  minlength: process.env.NAME_SURNAME_MIN_LENGTH, required: true,  pattern: process.env.NAME_SURNAME_REGEX, title: process.env.NAME_SURNAME_REGEX_MSG}) _%>

        <%- include("./partials/base/input.ejs",{type: "password", name: "password", label: "Password", maxlength: process.env.PASSWORD_MAX_LENGTH, minlength: process.env.PASSWORD_MIN_LENGTH, required: true,  pattern: process.env.PASSWORD_REGEX, title: process.env.PASSWORD_REGEX_MSG}) _%>
        <%- include("./partials/base/input.ejs",{type: "password", name: "confirm_password", label: "Confirm Password", maxlength: process.env.PASSWORD_MAX_LENGTH,required: true}) _%>
      </div>

      <%- include("./partials/base/submitButton.ejs", {fallbackUrl: "/pizzas", label: "REGISTER"}) _%>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
  </main>

  <%_ } _%>

</body>

</html>